<%= simple_form_for  @cliente do |f| %>
  <div class="row">
    <div class="col-md-12">
      <%= f.input :nome, autofocus: true%>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= f.input :cep %>
    </div>
    <div class="col-md-6">
      <%= f.input :rua %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= f.input :numero %>
    </div>
    <div class="col-md-6">
      <%= f.input :bairro %>
    </div>
    <div class="col-md-6">
      <%= f.input :tel %>
    </div>
    <div class="col-sm-6 col-md-6">
      <%= f.input :cidade %>
    </div>

    <div class="col-sm-6 col-md-6">
      <%= f.association :estado, prompt: "Escolha o estado",
                        collection: Estado.order(:sigla) %>
    </div>
  </div>

  <div class="d-flex">
    <%= link_to "Voltar", clientes_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn btn-primary ml-auto' %>
  </div>
<% end %>



